In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Maryland_Statewide_Vehicle_Crashes.csv')

C:\Users\ganta\AppData\Local\Temp\ipykernel_12784\1275013260.py:1: DtypeWarning: Columns (33,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Maryland_Statewide_Vehicle_Crashes.csv')

In [3]:
df.head()

,YEAR,QUARTER,LIGHT_DESC,LIGHT_CODE,COUNTY_DESC,COUNTY_NO,MUNI_DESC,MUNI_CODE,JUNCTION_DESC,JUNCTION_CODE,...,FEET_MILES_FLAG_DESC,FEET_MILES_FLAG,DISTANCE_DIR_FLAG,REFERENCE_NO,REFERENCE_TYPE_CODE,REFERENCE_SUFFIX,REFERENCE_ROAD_NAME,LATITUDE,LONGITUDE,LOCATION
0,2020,Q2,Daylight,1.00,Baltimore,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.277263,-76.503693,POINT (-76.5036932 39.27726285)
1,2022,Q2,Dark Lights On,3.00,Montgomery,15.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.992210,-77.097021,POINT (-77.097020666667 38.9922095)
2,2020,Q4,NaN,6.02,Baltimore,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.323620,-76.503080,POINT (-76.503080116667 39.323620083333)
3,2022,Q1,Daylight,1.00,Baltimore,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.411213,-76.628028,POINT (-76.628028425147 39.411213105087)
4,2022,Q2,Dark Lights On,3.00,Queen Anne's,17.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.974880,-76.281090,POINT (-76.28109 38.97488)

In [4]:
df.describe()

,YEAR,LIGHT_CODE,COUNTY_NO,MUNI_DESC,MUNI_CODE,JUNCTION_CODE,COLLISION_TYPE_CODE,SURF_COND_CODE,LANE_CODE,RD_COND_CODE,...,WEATHER_CODE,ACC_DATE,HARM_EVENT_CODE1,HARM_EVENT_CODE2,RTE_NO,LOG_MILE,DISTANCE,REFERENCE_NO,LATITUDE,LONGITUDE
count,848804.000000,848804.000000,848791.000000,0.0,635918.000000,764448.000000,848804.000000,764448.000000,645134.000000,764448.000000,...,848804.000000,8.488040e+05,848804.000000,848804.000000,678672.000000,760951.000000,745912.000000,671461.000000,848804.000000,848804.000000
mean,2018.292162,3.920314,12.758671,NaN,103.102466,2.654248,21.301865,2.650846,1.487601,1.779313,...,6.271491,2.018359e+07,3.946662,2.129694,969.321136,4.817931,63.561981,1282.173195,39.145036,-76.744918
std,2.222439,13.463945,7.863632,NaN,288.485994,9.991348,29.863128,9.131210,0.804584,8.547742,...,10.244158,2.220203e+04,8.571561,7.514640,1632.210201,9.263772,141.342771,1921.826956,0.310852,0.468617
min,2015.000000,0.000000,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,2.015010e+07,0.000000,0.000000,-121.000000,0.000000,0.000000,-295.000000,37.000000,-79.996100
25%,2016.000000,1.000000,3.000000,NaN,0.000000,1.000000,3.000000,2.000000,1.000000,1.000000,...,6.010000,2.016111e+07,1.000000,0.000000,90.000000,0.230000,0.000000,59.000000,38.981895,-76.940341
50%,2018.000000,1.000000,15.000000,NaN,0.000000,1.000000,11.000000,2.000000,1.000000,1.000000,...,6.010000,2.018093e+07,1.000000,0.000000,258.000000,1.650000,0.500000,355.000000,39.225461,-76.709834
75%,2020.000000,3.000000,18.000000,NaN,0.000000,2.000000,17.000000,2.000000,2.000000,1.000000,...,6.010000,2.020092e+07,3.000000,1.000000,912.000000,6.460000,50.000000,1666.000000,39.346254,-76.574147
max,2022.000000,99.000000,24.000000,NaN,999.000000,99.000000,99.000000,99.000000,18.000000,99.000000,...,99.000000,2.022093e+07,99.000000,99.000000,9922.000000,5100.000000,1000.000000,9921.000000,39.994802,-75.000000

In [6]:
df.columns

Index(['YEAR', 'QUARTER', 'LIGHT_DESC', 'LIGHT_CODE', 'COUNTY_DESC',
       'COUNTY_NO', 'MUNI_DESC', 'MUNI_CODE', 'JUNCTION_DESC', 'JUNCTION_CODE',
       'COLLISION_TYPE_DESC', 'COLLISION_TYPE_CODE', 'SURF_COND_DESC',
       'SURF_COND_CODE', 'LANE_CODE', 'RD_COND_DESC', 'RD_COND_CODE',
       'RD_DIV_DESC', 'RD_DIV_CODE', 'FIX_OBJ_DESC', 'FIX_OBJ_CODE',
       'REPORT_NO', 'REPORT_TYPE', 'WEATHER_DESC', 'WEATHER_CODE', 'ACC_DATE',
       'ACC_TIME', 'LOC_CODE', 'SIGNAL_FLAG_DESC', 'SIGNAL_FLAG',
       'C_M_ZONE_FLAG', 'AGENCY_CODE', 'AREA_CODE', 'HARM_EVENT_DESC1',
       'HARM_EVENT_CODE1', 'HARM_EVENT_DESC2', 'HARM_EVENT_CODE2', 'RTE_NO',
       'ROUTE_TYPE_CODE', 'RTE_SUFFIX', 'LOG_MILE', 'LOGMILE_DIR_FLAG_DESC',
       'LOGMILE_DIR_FLAG', 'MAINROAD_NAME', 'DISTANCE', 'FEET_MILES_FLAG_DESC',
       'FEET_MILES_FLAG', 'DISTANCE_DIR_FLAG', 'REFERENCE_NO',
       'REFERENCE_TYPE_CODE', 'REFERENCE_SUFFIX', 'REFERENCE_ROAD_NAME',
       'LATITUDE', 'LONGITUDE', 'LOCATION'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 848804 entries, 0 to 848803
Data columns (total 55 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   YEAR                   848804 non-null  int64
 1   QUARTER                848804 non-null  object
 2   LIGHT_DESC             813949 non-null  object
 3   LIGHT_CODE             848804 non-null  float64
 4   COUNTY_DESC            848791 non-null  object
 5   COUNTY_NO              848791 non-null  float64
 6   MUNI_DESC              0 non-null       float64
 7   MUNI_CODE              635918 non-null  float64
 8   JUNCTION_DESC          734568 non-null  object
 9   JUNCTION_CODE          764448 non-null  float64
 10  COLLISION_TYPE_DESC    848804 non-null  object
 11  COLLISION_TYPE_CODE    848804 non-null  int64
 12  SURF_COND_DESC         762078 non-null  object
 13  SURF_COND_CODE         764448 non-null  float64
 14  LANE_CODE              645134 non-null  float64
 15  RD_COND_DESC           764448 non-null  object
 16  RD_COND_CODE           764448 non-null  float64
 17  RD_DIV_DESC            759949 non-null  object
 18  RD_DIV_CODE            764448 non-null  float64
 19  FIX_OBJ_DESC           803293 non-null  object
 20  FIX_OBJ_CODE           848804 non-null  float64
 21  REPORT_NO              848804 non-null  object
 22  REPORT_TYPE            738071 non-null  object
 23  WEATHER_DESC           442024 non-null  object
 24  WEATHER_CODE           848804 non-null  float64
 25  ACC_DATE               848804 non-null  int64
 26  ACC_TIME               848804 non-null  object
 27  LOC_CODE               389078 non-null  object
 28  SIGNAL_FLAG_DESC       848804 non-null  object
 29  SIGNAL_FLAG            848804 non-null  object
 30  C_M_ZONE_FLAG          848804 non-null  object
 31  AGENCY_CODE            848804 non-null  object
 32  AREA_CODE              848804 non-null  object
 33  HARM_EVENT_DESC1       253345 non-null  object
 34  HARM_EVENT_CODE1       848804 non-null  float64
 35  HARM_EVENT_DESC2       848804 non-null  object
 36  HARM_EVENT_CODE2       848804 non-null  float64
 37  RTE_NO                 678672 non-null  float64
 38  ROUTE_TYPE_CODE        680433 non-null  object
 39  RTE_SUFFIX             17373 non-null   object
 40  LOG_MILE               760951 non-null  float64
 41  LOGMILE_DIR_FLAG_DESC  683608 non-null  object
 42  LOGMILE_DIR_FLAG       683619 non-null  object
 43  MAINROAD_NAME          764440 non-null  object
 44  DISTANCE               745912 non-null  float64
 45  FEET_MILES_FLAG_DESC   273032 non-null  object
 46  FEET_MILES_FLAG        764447 non-null  object
 47  DISTANCE_DIR_FLAG      761070 non-null  object
 48  REFERENCE_NO           671461 non-null  float64
 49  REFERENCE_TYPE_CODE    680673 non-null  object
 50  REFERENCE_SUFFIX       18399 non-null   object
 51  REFERENCE_ROAD_NAME    763665 non-null  object
 52  LATITUDE               848804 non-null  float64
 53  LONGITUDE              848804 non-null  float64
 54  LOCATION               848804 non-null  object
dtypes: float64(19), int64(3), object(33)
memory usage: 356.2+ MB

In [8]:
df.shape

(848804, 55)

In [9]:
df.nunique()

YEAR                          8
QUARTER                       4
LIGHT_DESC                    9
LIGHT_CODE                    9
COUNTY_DESC                  24
COUNTY_NO                    24
MUNI_DESC                     0
MUNI_CODE                   165
JUNCTION_DESC                10
JUNCTION_CODE                13
COLLISION_TYPE_DESC          19
COLLISION_TYPE_CODE          19
SURF_COND_DESC                8
SURF_COND_CODE               12
LANE_CODE                    17
RD_COND_DESC                 11
RD_COND_CODE                 11
RD_DIV_DESC                   7
RD_DIV_CODE                   8
FIX_OBJ_DESC                 13
FIX_OBJ_CODE                 26
REPORT_NO                848784
REPORT_TYPE                   3
WEATHER_DESC                 13
WEATHER_CODE                 13
ACC_DATE                   2830
ACC_TIME                   1608
LOC_CODE                  39874
SIGNAL_FLAG_DESC              2
SIGNAL_FLAG                   2
C_M_ZONE_FLAG                 3
AGENCY_CODE                 123
AREA_CODE                     1
HARM_EVENT_DESC1             26
HARM_EVENT_CODE1             26
HARM_EVENT_DESC2             26
HARM_EVENT_CODE2             26
RTE_NO                     7434
ROUTE_TYPE_CODE              25
RTE_SUFFIX                   64
LOG_MILE                   8854
LOGMILE_DIR_FLAG_DESC         4
LOGMILE_DIR_FLAG              5
MAINROAD_NAME             56366
DISTANCE                   1333
FEET_MILES_FLAG_DESC          2
FEET_MILES_FLAG               3
DISTANCE_DIR_FLAG             5
REFERENCE_NO               8163
REFERENCE_TYPE_CODE          39
REFERENCE_SUFFIX             77
REFERENCE_ROAD_NAME       79459
LATITUDE                 717426
LONGITUDE                711117
LOCATION                 812994
dtype: int64